
 <!-- Service Start -->
 <div class="container-xxl py-5">
    <div class="container">
            <h1 class="display-5 mb-5 text-primary text-center">How It Works</h1>
        <div class="row g-4 justify-content-center"> <!-- Center the row -->
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class src="./assets/img/live2.jpeg"  height="250px" width="400px" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Non-profit Organization  </h4>
                        <p>The organization facilitating the coding education for orphanage students and underprivileged children is registered as a non-profit organization (NGO).</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class src="./assets/img/live3.jpeg" height="250px" width="400px" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Donation Process:</h4>
                        <p> Employees who wish to participate in the technology training program and support the coding education initiative can make a donation of 5000 rupees or more per participant.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->