
<div class="container-fluid bg-light p-0">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small>Om Sai Niwas Building,Vichumbe,Navi Mumbai,Maharastra</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>+91 72177680117</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn btn-sm-square bg-white text-primary me-1" routerLink="https://www.facebook.com/your_facebook_page"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" routerLink="globtechpowerfoundation&#64;gmail.com"><i class="fa fa-envelope"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" routerLink="https://www.linkedin.com/company/glob-techpower-foundation/"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-0" routerLink="https://www.instagram.com/globtechpower?igsh=dHZ3cXR2cDBoNXZ2"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->