<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Address</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Om Sai Niwas Building,Vichumbe,Navi
                    Mumbai,Maharastra</p><br>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 72177680117</p><br>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href="globtechpowerfoundation&#64;gmail.com"><i
                            class="fa fa-envelope"></i></a>
                    <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/your_facebook_page"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social"
                        href="https://youtube.com/@GlobTechpowerFoundation?si=v7HbePwq1KvrJBCb"><i
                            class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social"
                        href="https://www.linkedin.com/company/glob-techpower-foundation/"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Programs</h4>
                <a class="btn btn-link" href="">Coding on wheels</a>
                <a class="btn btn-link" href="">Coding Education in Government School</a>
                <a class="btn btn-link" href="">Women Empowerment</a>
                <a class="btn btn-link" href="">Livelihoods</a>

            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Quick Links</h4>
                <a class="btn btn-link" href="">About Us</a>
                <a class="btn btn-link" href="">Contact Us</a>
                <a class="btn btn-link" href="">Resources</a>
                <a class="btn btn-link" href="">Campaign</a>
                <a class="btn btn-link" href="">Support</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Donate</h4>
                <p>
                    "Empowerment begins with a single act of kindness. Your donation today can change lives tomorrow."
                </p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                    <button type="button"
                        class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">glob-techpower-foundation</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a class="border-bottom" href="https://globtpf.netlify.app/">glob</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top"><i class="bi bi-arrow-up"></i></a>