<!-- Service Start -->
<div class="container-xxl py-5">
    <h1 class="mb-4 text-primary text-center">GET INVOLVED</h1>
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <h5>Volunteer</h5>
                        <p>Teach coding to underprivileged students in government schools.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <h5>Donate</h5>
                        <p>Support our mission to bring coding education to underprivileged students.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <h5>Spread the Word</h5>
                        <p>Help us raise awareness about the importance of coding education.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <h5>Partner with Us</h5>
                        <p>Collaborate with us to bring coding education to more schools and communities.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
