<!-- Projects Start -->

<div class="container-xxl py-5">
    <div class="container">
            <h1 class="display-5 text-primary text-center">Popular Causes</h1>
     
       
        <div class="row g-4 portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                <div class="rounded overflow-hidden">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="assets/img/portfolio-1.jpg" alt>
                        <div class="portfolio-overlay">
                            <a class="btn btn-square btn-outline-light mx-1" routerLink="assets/img/portfolio-1.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-square btn-outline-light mx-1" routerLink><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="border border-5 border-light border-top-0 p-4">
                        <h4 class="text-primary fw-medium mb-2">Padho Bhi Padhon Bhi Campaign</h4>
                        <p class="lh-base mb-0">This initiative aims to transform the lives of orphanage students by providing coding education under the GTPF's Coding on Wheels project, recognizing the power of education in fostering self-independence.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                <div class="rounded overflow-hidden">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="assets/img/portfolio-3.jpg" alt>
                        <div class="portfolio-overlay">
                            <a class="btn btn-square btn-outline-light mx-1" routerLink="assets/img/portfolio-3.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-square btn-outline-light mx-1" routerLink=""><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="border border-5 border-light border-top-0 p-4">
                        <h4 class="text-primary fw-medium mb-2">Corporate Training for Social Impact</h4>
                        <p class="lh-base mb-0">GTPF offers a unique opportunity for companies to contribute to a noble cause while enhancing their employees' technology skills through transformative training sessions.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                <div class="rounded overflow-hidden">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="assets/img/portfolio-2.jpg" alt>
                        <div class="portfolio-overlay">
                            <a class="btn btn-square btn-outline-light mx-1" routerLink="assets/img/portfolio-2.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-square btn-outline-light mx-1" routerLink><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="border border-5 border-light border-top-0 p-4">
                        <h4 class="text-primary fw-medium mb-2">Support from Individuals</h4>
                        <p class="lh-base mb-0">GTPF warmly welcomes support from individuals who share our vision of empowering orphan & underprivileged communities, promoting women's empowerment, and fostering sustainable organic farming. </p>
                    </div>
                </div>
            </div>

            
            <!-- Add more portfolio items following the same structure -->
        </div>
    </div>
</div>
<!-- Projects End -->
