.nav-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.nav-button:focus {
    outline: none;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.testimonial-item {
    display: none;
}

.testimonial-item.active {
    display: block;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}