<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">
                        <h1 class="display-5 text-center text-primary mb-4">Courses</h1>
                    <p class="mb-4 pb-2">By enrolling in our courses through donation, you're not just investing in yourself; you're investing in the future of our communities. Your contribution helps us continue our vital work of providing accessible education and empowering individuals to reach their full potential.

                        Join us in making a difference through education and technology. Enroll today and be a part of our mission to create a brighter, more inclusive future for all.
                        
                        [Global Tech] - Empowering Communities Through Education and Technology.</p>
                    <h6>[Global Tech] - Empowering Communities Through Education and Technology</h6>
                    <a href="/courses1" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Explore</a>
                        <div class="row g-4">
                        
                           
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pe-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class src="./assets/img/code.jpg" style="object-fit: cover;" height="500px" width="700px" alt="">
                </div>
            </div>
        </div>
    </div>
</div>