<div class="container-xxl py-5">
    <div class="container">
            <h1 class="display-5  text-primary text-center">Our Values</h1>
        
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/i.jpg" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Inclusivity</h4>
                        <p>Diversity and inclusivity are values we uphold in all facets of our work. We ensure that all community members
                            , regardless of gender and socioeconomic background, have equal access to opportunities and resources.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/service-3.jpg" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Empowerment</h4>
                        <p>We strive to empower individuals and communities belonging to underserved and marginalised background to take control of their own purposes by providing them with the necessary tools,
                             knowledge and resources they need to thrive in the digital age.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/ad.jpg" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Adaptability</h4>
                        <p>
                            We adapt strategies to meet evolving community needs, ensuring relevance and effectiveness. Flexibility and responsiveness guide our actions, fostering a dynamic approach to address challenges as they arise.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp offset-md-2" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/collab.jpg" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Collaboration</h4>
                        <p>We believe that collaboration and working together is the foremost value.
                             Thus, we collaborate with partners, corporates, governments, volunteers, and communities to achieve shared goals.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/e.jpg" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Ethical Conduct</h4>
                        <p>Upholding the highest ethical standards in all interactions and operations is essential for
                             maintaining trust, integrity, and respect within a community or organization. This commitment ensures that decisions and actions
                             are guided by principles of honesty, fairness, transparency, and accountability.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
