/* .dynamic-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw !important;
    height: 40% !important;

}
 */

/* 
.page-header {
    background: linear-gradient(rgba(53, 53, 53, .7), rgba(53, 53, 53, .7)), center no-repeat;
    /* background-image: linear-gradient(rgba(53, 53, 53, .7), rgba(53, 53, 53, .7)), url('../../../assets/img/codee.png'); */
/* background-size: cover;

} */

/* .background-image {
    background-image: linear-gradient(rgba(53, 53, 53, .7), rgba(53, 53, 53, .7)), url('../../../assets/img/codee.png');
} */