<p class="my-3">New Requests for Admin</p>
<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of participants">
                    <td>{{ user.name }}</td>
                    <td>{{ user.contact }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles }}</td>
                    <td>
                        <button class="btn btn-primary" [innerHTML]="user.enabled ? 'Remove' : 'Approve'"
                            (click)="approvedUser(user)">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>