<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <h1 class="text-center mb-6 text-primary">APPROACH</h1>

            <div class="col-lg-6">
                <ul>
                    <li><h4>Access to Menstrual Health Products<span class="emoji">♀️</span></h4></li>
                    <p class="mb-4">•	Continue providing access to Mihir organic rice and other natural remedies that alleviate menstrual discomfort. Ensure affordability and availability for all women and girls</p>

                    <li><h4>Comprehensive Awareness Programs<span class="emoji">📚</span></h4></li>
                    <p class="mb-4">•	Conduct workshops, seminars, and awareness campaigns to educate women and girls about menstrual health, hygiene, and self-care.</p>

                    <li><h4>Health and Hygiene Education<span class="emoji">🚿 </span></h4></li>
                    <p class="mb-4">•	Teach proper menstrual hygiene practices, including safe disposal of menstrual products.
                        •	Educate on nutrition, exercise, and stress management during menstruation.
                        </p>

                    <li><h4>Empowerment Through Knowledge<span class="emoji">💡</span></h4></li>
                    <p class="mb-4">•	Provide information on reproductive health, including sexual and reproductive rights.</p>
                </ul>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="/assets/img/womenapproach.jpg" alt="img">
            </div>
        </div>
    </div>
</div>