
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-5 ps-lg-0" style="min-height: 300px; margin-top: 50px; margin-right: 60px;">
                <div class="container">
                    <div class="row justify-content-center align-items-center ">
                        <div class="col-md-6 text-center">
                            <img class="img-fluid" src="assets/img/approach.jpg" alt="GlobTech Logo" style="max-width: 400px; max-height: auto;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-6 pe-lg-0">
                        <h1 class="display-5  text-primary">Our Approach</h1>
                        <p class="mb-4 pb-2">Our approach is comprehensive, spanning various aspects of technology and
                        digital solutions. We focus on digital literacy and education, access to technology and
                        supporting innovation. Whether it is about offering digital skills training and education to
                        underprivileged, gender equality, youth empowerment or any other social impact initiatives or
                        programs of our organisation. We approach each task with passion and determination.
                </div>
            </div>
        </div>
    </div>
</div>