<!-- Carousel Start -->
<!-- Old one -->
<!-- Carousel End -->

<!-- New one -->


<div class="container-fluid p-0 pb-5">
    <div class="slider position-relative">
        <div class="slider-item position-relative" *ngFor="let slide of slides; let i = index"
            [ngClass]="{'active': i === currentSlide}">
            <img class="img-fluid full-width-img" [src]="slide.src" [alt]="slide.title">
            <div class="overlay position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                style="background: rgba(53, 53, 53, .7);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h6 class="text-white mb-3 animated slideInDown">{{ slide.title }}</h6>
                            <h1 class="display-3 text-white animated slideInDown mb-4">{{ slide.subtitle }}</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">{{ slide.description }}</p>
                            <a [routerLink]="slide.donateLink"
                                class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Donate Now</a>
                            <a [href]="slide.volunteerLink"
                                class="btn btn-light py-md-3 px-md-5 animated slideInRight">Volunteer Today</a>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
        <button class="prev" (click)="prevSlide()">&#10094;</button>
        <button class="next" (click)="nextSlide()">&#10095;</button>
    </div>
</div>