<div class="container-xxl py-5">
    <div class="container">
            <h1 class="display-5 text-primary text-center mb-5">Benefits</h1>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class src="./assets/img/Workshops.jpeg"  height="250px" width="400px" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Dual Impact</h4>
                        <p>Your team's professional development aligns seamlessly with a philanthropic endeavor. Each training session becomes a gateway to personal growth for employees and a lifeline of opportunity for those in need.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class src="./assets/img/Digital.png"  height="250px" width="400px" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Socail Empowerment</h4>
                        <p>By contributing to the coding education of orphanage students and underprivileged youth, your company becomes a driving force in empowering marginalized communities, breaking barriers to education and fostering digital literacy.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class src="./assets/img/csr.png"  height="250px" width="400px" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Corporate Socail Responsibility</h4>
                        <p>"Padho aur Padhne Do" not only complements your CSR initiatives but enhances them. It provides a tangible way for your company to embody its commitment to social responsibility and community development.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                
            </div>
        </div>
    </div>
</div>