<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="./assets/img/codeedu1.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="./assets/img/codeedu2.jpg" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="./assets/img/codeedu3.jpg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="./assets/img/codeedu4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h1 class="mb-4 text-primary">BENEFITS</h1>
                <ul>
                    <li><h5>Provides coding education to students from marginalized backgrounds who lack access to quality education</h5></li><br>
                    <li><h5>Equips students with digital skills necessary to thrive in the 21st century</h5></li><br>
                    <li><h5>Bridges the educational gap and provides a gateway to innovation and opportunity</h5></li><br>
                    <li><h5>Cultivates critical thinking and creativity in students</h5></li><br>
                    <li><h5>Breaks down barriers and provides access to a brighter future
                    </h5></li><br>
                </ul>
            </div>
        </div>
    </div>
</div>