<div class="container-xxl py-5 bg-light">
    <div class="container">
            <h1 class="display-5 text-center text-primary mb-5">Advisory Board</h1>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp offset-md-3" data-wow-delay="0.1s">
                <div class="team-item">
                    <div class="overflow-hidden position-relative">
                        <img class="img-fluid" src="/assets/img/asimsir.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center border border-5 border-light border-top-0 p-4">
                        <h5 class="mb-0">Asim Khan</h5>
                        <!-- <small></small>
                        <small></small> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="overflow-hidden position-relative">
                        <img class="img-fluid" src="img/team-2.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center border border-5 border-light border-top-0 p-4">
                        <h5 class="mb-0">Dipti Bandisode</h5>
                        <!-- <small>Founding Director & COO,CFO</small>
                        <small>M.A. in Population Science</small>
                        <small>More than 10 years of Experience in development sector</small> -->
                    </div>
                </div>
            </div>



        </div>
    </div>
    <!-- Team End -->