<!-- About Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0">

            <div class="col-lg-5 ps-lg-0" style="min-height: 300px; margin-top: 100px;">
                <div class="container">
                    <div class="row justify-content-center align-items-center ">
                        <div class="col-md-6 text-center">
                            <img class="img-fluid" src="assets/img/globtechLogo.png" alt="GlobTech Logo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-6 pe-lg-0">
                        <h1 class="display-5 text-primary mb-4">Who We Are?</h1>
                    <p class="mb-4 pb-2">Glob TechPower Foundation (GTPF) is a non profit organisation driven by a
                        shared vision. A vision that arose out of diverse backgrounds and experiences of professionals
                        who came together with a common goal to use technology and digital innovation for positive and
                        constructive educational, social as well as community impact. We believe in the potential of
                        technology and it’s ability to transform lives and uplift communities from the underserve and
                        marginalize background.
                        This united commitment sparked the birth of Global Technopower Foundation (GTPF).
                    

                        <!-- <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white" style="width: 60px; height: 60px;">
                                    <i class="fa fa-users fa-2x text-primary"></i>
                                </div> -->
                        <!-- <div class="ms-3">
                                    <h2 class="text-primary mb-1" data-toggle="counter-up">1234</h2>
                                    <p class="fw-medium mb-0">Happy Clients</p>
                                </div> -->

                   
                    <!-- <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white" style="width: 60px; height: 60px;">
                                    <i class="fa fa-check fa-2x text-primary"></i>
                                </div>
                                <div class="ms-3">
                                    <h2 class="text-primary mb-1" data-toggle="counter-up">1234</h2>
                                    <p class="fw-medium mb-0">Projects Done</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a routerLink="" class="btn btn-primary py-3 px-5">Explore More</a>
                </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->