<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0">


            <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">
                       <h1 class="display-5 text-primary mb-4">2) Coding Education</h1>
                   <p class="mb-4 pb-2">At GLOBALTECH we believe in the transformative power of education. Our mission is to provide equitable access to quality education for all, regardless of socioeconomic background or geographic location. Through our various programs and initiatives, we strive to empower individuals and communities
                    to reach their full potential. Here’s how we’re making a difference.</p>
                    <a href="/codingedu" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Explore</a>

                    <div class="row g-4">
                    </div>
                </div>
            </div>
      
        <div class="col-lg-5 pe-lg-0" style="min-height: 200px; margin-top: 5%; ">
            <div class="position-relative h-100">
              <img class="position-absolute img-fluid" src="/assets/img/education1.jpg" alt="" style=" object-fit: cover;">
            </div>
          </div>
    </div>
</div>
    </div>