<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <h1 class="text-center mb-6 text-primary">APPROACH</h1>

            <div class="col-lg-6">
                <ul>
                    <li><h4>Accessible Education<span class="emoji"> 🚌</span></h4></li>
                    <p class="mb-4">Coding on Wheels brings a mobile learning unit to government schools, providing access to technology and quality education to students who may not have it otherwise.</p>

                    <li><h4>Interactive Learning <span class="emoji">🎓</span></h4></li>
                    <p class="mb-4">The project uses a project-based learning approach, encouraging students to work on real-world projects and gain practical experience.</p>

                    <li><h4>Mentorship Program<span class="emoji">👩‍💻</span></h4></li>
                    <p class="mb-4">The mentorship program helps students to build relationships with industry professionals, gain insights into the tech industry, and develop the skills they need to succeed in their careers.</p>

                    <li><h4>Collaboration with Schools<span class="emoji">🤝</span></h4></li>
                    <p class="mb-4">The project works with schools to develop a curriculum that meets the needs of students and aligns with the school's goals</p>
                </ul>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="/assets/img/codingedu5.jpg" alt="img">
            </div>
        </div>
    </div>
</div>