<!-- <div class="container-xxl py-5  hero-header mb-5" style="background-color:#85C1E9 ;">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft">Padho Bhi Padhon Bhi</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2" style="font-size: 1.3rem;">
                    "Padho Bhi Padhon Bhi" is a transformative campaign dedicated to providing coding education to orphanage students through the initiative 'Coding on Wheels'. Recognizing the pivotal role education plays in empowering individuals, the campaign seeks financial support, encourages spreading awareness, and invites corporate partnerships. Donors benefit from tax exemptions under section 80G of the Income Tax Act. By joining forces, the campaign aims to create a future where every child, irrespective of their background, can dream and achieve.</p>
                <a href="/codingpage" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Explore</a>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="/assets/img/codee.png" alt="img">
            </div>
        </div>
    </div>
</div>
 -->
 <!-- About Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0">

            <div class="col-lg-6 ps-lg-0" style="min-height: 200px; margin-top: 70px;">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-6 text-center">
                            <img class="img-fluid" src="/assets/img/pdpb.jpg" alt="GlobTech Logo" style="max-width: 130%; height: auto;">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-6 pe-lg-0">
                        <h1 class="display-5 text-primary mb-4">1) Padho Bhi Padhon Bhi</h1>
                    <p class="mb-4 pb-2">"Padho Bhi Padhon Bhi" is a transformative campaign dedicated to providing coding education to orphanage students through the initiative 'Coding on Wheels'. Recognizing the pivotal role education plays in empowering individuals, the campaign seeks financial support, encourages spreading awareness, and invites corporate partnerships. Donors benefit from tax exemptions under section 80G of the Income Tax Act. By joining forces, the campaign aims to create a future where every child, irrespective of their background, can dream and achieve.</p>
                        <a href="/campaign1of1" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Explore</a>

                       
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

