<div class="container-xxl py-5">
              <div class="container">
               <h1 class="display-5 text-center text-primary mb-5">Get Involved</h1>
         <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class src="./assets/img/newfin.jpg" height="250px" width="400px" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Financial Support</h4>
                        <p>Your generous contributions will directly fund coding education programs for orphanage students. Every donation, regardless of size, plays a crucial role in shaping a brighter future for these young minds.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class src="./assets/img/finalmic.jpg" height="250px" width="400px" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Spread The Word</h4>
                        <p>Share the campaign across your networks and social media platforms. By raising awareness, we can garner broader support and reach our fundraising goals sooner</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class src="./assets/img/live3.jpeg" height="250px" width="400px" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Corporate Sponsorship</h4>
                        <p>We invite corporates to become partners in this noble endeavor. Corporate sponsorships can significantly impact the scale and reach of the coding education.</p>
                    </div>
                </div>
            </div>
        </div>
             </div>
</div>