<div class="container-xxl py-5 login-box text-center">
    <h1 class="display-3 animated slideInDown">Login</h1>
    <form #loginForm="ngForm" method="post" (ngSubmit)="onSubmit()">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" name="username" [(ngModel)]="email" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" name="password" [(ngModel)]="password" required>
        <a routerLink="/login" (click)="saveEmail($event)">Forgot Password</a>
        <br>
        <br>
        <button type="submit">Login</button>
    </form>
</div>