.registration-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 5rem auto;
    max-width: 500px;
}

.registration-box h1 {
    font-weight: 300;
    margin-bottom: 30px;
    color: #d36984;
    /* add custom class */
    color: var(--primary-color);
}

.registration-box form label {
    display: block;
    margin-bottom: 10px;
}

.registration-box form input[type="text"],
.registration-box form input[type="email"],
.registration-box form input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.registration-box form button {
    background-color: #d36984;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registration-box form button:hover {
    background-color: #d36984;
}

.spinner {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}