<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0 justify-content-center">
            <div class="col-lg-10 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-6 pe-lg-0 text-center">
                        <h1 class="display-5 text-primary mb-4">Introduction</h1>
                        <h3 class=" text-primary "><em>Together, Let's Padho Bhi Padhon Bhi!</em></h3>

                    <p class="mb-4 pb-2">We are excited to launch the "Padho Bhi Padhon Bhi" campaign, a transformative initiative to enrich orphanage students' lives through coding education with our ‘Coding on Wheels’ project. This noble effort empowers young minds with essential coding skills, fostering self-independence and a dignified life. "Padho Bhi Padhon Bhi," meaning "Learn and Teach," aims to educate these children so they can uplift their communities. We invite compassionate individuals, corporates, and well-to-do families to support this cause. Donations are eligible for 50% tax exemption under section 80G of the Income Tax Act. Together, we can brighten these young minds' futures.</p>
                    <img class="img-fluid rounded w-60 wow zoomIn" data-wow-delay="0.1s" src="./assets/img/pdpb1.jpg">

                </div>
            </div>
        </div>
    </div>
</div>