<div class="container-xxl py-5">
    <div class="container">

        <h1 class="display-5 mb-5 text-primary text-center">Courses</h1>

        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img" src="assets/img/cources/java-fullstack1.jpg" height="250px" width="405px" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Java Full Stack</h4>
                        <a class="fw-medium" href="/codingpage">Join Now<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img" src="assets/img/cources/data-science.jpg" height="250px" width="405px" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Data Science</h4>

                        <a class="fw-medium" href="/codingedu">Join Now<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img" src="assets/img/cources/cyber.jpg" height="250px" width="405px" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Cyber Security</h4>
                        <a class="fw-medium" href="">Join Now<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img" src="assets/img/cources/aws.jpg" height="250px" width="405px" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">AWS+ Devops</h4>
                        <a class="fw-medium" href="">Join Now<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img" src="assets/img/cources/ai_ml.jpg" height="250px" width="405px" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Machine Learning</h4>
                        <a class="fw-medium" href="">Join Now<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img" src="assets/img/cources/mern.jpg" height="250px" width="405px" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">MERN Stack</h4>
                        <a class="fw-medium" href="">Join Now<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img" src="assets/img/cources/python.jpg" height="250px" width="405px" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Python Django Web Application</h4>
                        <a class="fw-medium" href="">Join Now<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>