<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0 justify-content-center">
            <div class="col-lg-10 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-6 pe-lg-0 text-center">
                        <h1 class="display-5 text-primary mb-4">INTRODUCTION</h1>
                        <h3 class=" text-primary "><em>"Shaping Futures: Join Us to Empower Orphan and Government School Students!"</em></h3>

                    <p class="mb-4 pb-2">Welcome to "Padho Bhi Padhon Bhi," a pioneering campaign that merges corporate growth with social responsibility. This unique initiative offers your company and employees transformative technology training while supporting a noble cause. By enhancing your team's skills, we aim to uplift orphanage students and underprivileged children in government schools through coding education, facilitated by our non-profit organization. Engage your employees in cutting-edge training, with a minimum donation of 5000 rupees per participant. Donations directly fund coding education for these children and are eligible for 50% tax exemption under section 80G of the Income Tax Act. Join us to make a difference.</p>
                    <img class="img-fluid rounded w-60 wow zoomIn" data-wow-delay="0.1s" src="./assets/img/ctsi2.jpg">

                </div>
            </div>
        </div>
    </div>
</div>