<div class="container-xxl py-5">
    <div class="container">
            <h1 class="display-5 text-center text-primary mb-5">How It Work</h1>
        <div class="row g-4">
             
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class src="./assets/img/dualimpact.jpg" height="250px" width="400px" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Dual Impact</h4>
                        <p>By enrolling in the course, individuals can enhance their own knowledge and skills while simultaneously supporting education</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img  src="./assets/img/Education2.jpg" height="250px" width="400px" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Empowerment Through Education</h4>
                       <p>Empowerment through education unlocks doors to opportunity, fostering independence and igniting of potential. 



</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class src="./assets/img/cc.jpg" height="250px" width="400px" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Building a Sense of Purpose: </h4>
                        <p> Knowing that one's actions are making a positive impact can bring a sense of fulfillment and purpose.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

