<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="./assets/img/womenb1.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="./assets/img/womenb2.jpg" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="./assets/img/womenb3.jpg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="./assets/img/womenb4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h1 class="mb-4 text-primary">BENEFITS</h1>
                <ul>
                    <li><h5>Empowers women to break free from societal constraints and reach their full potential</h5></li><br>
                    <li><h5>Provides women with the skills and confidence to take control of their lives and make informed decisions</h5></li><br>
                    <li><h5>Bridges the gender gap and promotes equality in all aspects of life</h5></li><br>
                    <li><h5>Increases access to education, healthcare, and other essential services, improving overall well-being</h5></li><br>
                    <li><h5>Fosters economic growth and independence, reducing poverty and inequality                    </h5></li><br>
                </ul>
            </div>
        </div>
    </div>
</div>