
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0">


            <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">
                       <h1 class="display-5 text-primary mb-4">2) Corporate Training For Social Impact</h1>
                   <p class="mb-4 pb-2">The Corporate Training for Social Impact campaign offers companies a unique opportunity to blend professional development with philanthropy. By engaging in cutting-edge technology training, employees contribute to providing coding education for orphanage students and underprivileged children. With each training session, participants not only enhance their skills but also uplift marginalized communities, fostering digital literacy and social empowerment. This campaign embodies the essence of shared success and social responsibility, creating a brighter future for all through learning and collaboration.</p>
                    <a href="/campaign2of2" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Explore</a>

                    <div class="row g-4">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 pe-lg-0" style="min-height: 200px; margin-top: 5%; ">
                <div class="position-relative h-100">
                  <img class="position-absolute img-fluid" src="/assets/img/ctsi.jpg" alt="" style=" object-fit: cover;">
                </div>
              </div>
    </div>
</div>
    </div>