 <!-- Service Start -->

 <div class="container-xxl py-5">
    <div class="container">
    
            <h1 class="display-5 mb-5 text-primary text-center">Our-Programs</h1>
       
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/codee.png" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Coding on Wheels</h4>
                        <p>"Bridging the digital gap for destitute orphanage students with transformative mobile coding workshops and interactive technology education."</p>
                        <a class="fw-medium" href="/codingpage">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/service-2.jpg" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Coding Education in Government Schools</h4>
                        <p>
                            "Empowering grades 8-10 students from marginalized backgrounds with coding skills, breaking educational barriers for a brighter future."</p>
                        <a class="fw-medium" href="/codingedu">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/service-3.jpg" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">  Women Empowerment</h4>
                        <p>"Empowering women and girls with Mihir organic rice to alleviate menstrual discomfort, coupled with health education for confident menstrual health management."</p>
                        <a class="fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
<!-- Service End -->
 