<!-- 
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0">

            <div class="col-lg-6 ps-lg-0" style="min-height: 400px; margin-top: 70px;">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-6 text-center">
                            <img class="img-fluid" src="/assets/img/codee.png" alt="GlobTech Logo" style="max-width: 120%; height: auto;">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-6 pe-lg-0">
                        <h1 class="display-5 text-primary mb-4">1) Coding Of Wheel</h1>
                    <p class="mb-4 pb-2">Coding on Wheels is a transformative initiative by Glob TechPower Foundation (GTPF) aimed at empowering destitute students in orphanages by bridging the digital divide. The project utilizes a mobile learning unit equipped with cutting-edge technology and expert instructors to provide interactive coding lessons, workshops, and engaging activities. The primary objective is to impart essential coding skills, nurture creativity, and empower students to chart their own path to a brighter future.</p>
                        <a href="/codingpage" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Explore</a>

                       
                </div>
            </div>
        </div>
    </div>
     -->
     <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
        <div class="container about px-lg-0">
            <div class="row g-0 mx-lg-0">
    
                <div class="col-lg-6 ps-lg-0" style="min-height: 200px; margin-top: 40px;">
                    <div class="container">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-6 ">
                                <img class="img-fluid" src="/assets/img/codee.png" alt="GlobTech Logo" style="max-width: 130%; margin-top: 2PX; height: auto;">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-6 pe-lg-0">
                            <h1 class="display-5 text-primary mb-4">1) Coding Of Wheel</h1>
                            <p class="mb-4 pb-2">Coding on Wheels is a transformative initiative by Glob TechPower Foundation (GTPF) aimed at empowering destitute students in orphanages by bridging the digital divide. The project utilizes a mobile learning unit equipped with cutting-edge technology and expert instructors to provide interactive coding lessons, workshops, and engaging activities. The primary objective is to impart essential coding skills, nurture creativity, and empower students to chart their own path to a brighter future.</p>
                            <a href="/codingpage" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Explore</a>
    
                           
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
    
    