
 <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0">

            <div class="col-lg-6 ps-lg-0" style="min-height: 150px; margin-top: 30px;">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-6 ">
                            <img class="img-fluid" src="/assets/img/women1.jpg" alt="GlobTech Logo" style="max-width: 130%; margin-top: 2PX; height: auto;">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-6 pe-lg-0">
                        <h1 class="display-5 text-primary mb-4">3) Women Empowerment</h1>
                    <p class="mb-4 pb-2">At globtechpowerfoundation, we are committed to advancing gender equality and empowering women to reach their full potential. Through our women empowerment initiatives, we strive to create a world where every woman has the opportunity to thrive, lead, and make a positive impact in her community.</p>
                        <a href="/women" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Explore</a>

                       
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

